.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.blocks {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #999;
    height: 100px;
    flex: 0 1;
}

@media (max-width: 419px)  {
    .block {
        min-width: 200px;
    }
}

@media (min-width: 420px) and (max-width: 799px) {
    .block {
        min-width: 300px;
    }
}

@media (min-width: 800px) {
    .block {
        min-width: 400px;
    }
}